GOOGLE_API_KEY=your_google_api_key
RESOURCE_WALLET_ADDRESS=your_wallet_address
KOBARU_API_KEY=your_kobaru_api_key
FACILITATOR_URL=https://gateway.kobaru.io
SOLANA_NETWORK_ID=solana:EtWTRABZaYq6iMfeYKouRu166VU2xqa1
USDC_ASSET_ADDRESS=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
